// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.cursor{
    cursor: pointer;
}
.invalid-feedback {
    color: red!important;
}
.toggle-drop::after{
    position: relative;
    left: 9px;
    top: -6px;
}
.menu-drop{
    top: -15px !important;
    left: -64px !important;
}
.vanvan{
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
